In [1]:
import pandas as pd 
import numpy as np

In [2]:
import os 
import sys

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..", "scripts")))

In [4]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import KNNImputer
from preprocess import PreProcessing

In [5]:
processor = PreProcessing()

In [6]:
df_enricled = pd.read_csv('C:\\Users\\Aman\\Desktop\\kifyaw10\\data\\usa_eu_russia.csv')

In [7]:
print(df_enricled.head())

         Date  Price  US_GDP  US_Inflation  US_Interest_Rate  Russia_GDP  \
0  1987-05-20  18.63     NaN           NaN               NaN         NaN
1  1987-05-21  18.45     NaN           NaN               NaN         NaN
2  1987-05-22  18.55     NaN           NaN               NaN         NaN
3  1987-05-25  18.60     NaN           NaN               NaN         NaN
4  1987-05-26  18.63     NaN           NaN               NaN         NaN

   Russia_Inflation  EU_GDP  EU_Inflation  Saudi_GDP  Saudi_Inflation  \
0               NaN     NaN           NaN        NaN              NaN
1               NaN     NaN           NaN        NaN              NaN
2               NaN     NaN           NaN        NaN              NaN
3               NaN     NaN           NaN        NaN              NaN
4               NaN     NaN           NaN        NaN              NaN

   Canada_GDP  Canada_Inflation
0         NaN               NaN
1         NaN               NaN
2         NaN               NaN
3         NaN               NaN
4         NaN               NaN

In [22]:
df_enricled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9011 entries, 0 to 9010
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              9011 non-null   object
 1   Price             9011 non-null   float64
 2   US_GDP            74 non-null     float64
 3   US_Inflation      274 non-null    float64
 4   US_Interest_Rate  274 non-null    float64
 5   Russia_GDP        0 non-null      float64
 6   Russia_Inflation  233 non-null    float64
 7   EU_GDP            60 non-null     float64
 8   EU_Inflation      207 non-null    float64
 9   Saudi_GDP         0 non-null      float64
 10  Saudi_Inflation   0 non-null      float64
 11  Canada_GDP        0 non-null      float64
 12  Canada_Inflation  0 non-null      float64
dtypes: float64(12), object(1)
memory usage: 915.3+ KB

In [6]:
def impute(df):
        df['Date'] = pd.to_datetime(df['Date'])
        df = df.dropna(axis = 1, how='all')
        df.set_index('Date', inplace = True)
        imputer = KNNImputer(n_neighbors=5)
        imputed_values = imputer.fit_transform(df)
        df_imputed = pd.DataFrame(imputed_values, index=df.index, columns=df.columns)
        return df_imputed

In [9]:
df_enricled = processor.impute(df=df_enricled)
df_enricled.info()

TypeError: PreProcessing.impute() got multiple values for argument 'df'

In [8]:
df_enricled.head()

,Price,US_GDP,US_Inflation,US_Interest_Rate,Russia_Inflation,EU_GDP,EU_Inflation
Date,,,,,,,
1987-05-20,18.63,5875.6376,136.1400,5.288,14.574,1945690.32,78.262
1987-05-21,18.45,6466.0762,153.8404,4.266,13.874,1945690.32,78.434
1987-05-22,18.55,6602.4916,161.1204,4.300,14.574,1945690.32,78.434
1987-05-25,18.60,5875.6376,138.1200,4.762,14.574,1945690.32,78.262
1987-05-26,18.63,5875.6376,136.1400,5.288,14.574,1945690.32,78.262

In [27]:
def scalle(df):
        scaler = StandardScaler()
        scaled_values = scaler.fit_transform(df)
        df_scalled = pd.DataFrame(scaled_values, index=df.index, columns=df.columns )
        return df_scalled

In [ ]:
scalled_df = scalle(df_enricled)